{
  "extends": [
    "@udea-io/eslint-config",
    "@udea-io/eslint-config/node",
    "@udea-io/eslint-config/mocha"
  ],

  "globals": {
    "Promise": true,
    "sails": true,
    "_": true,
    "async": true,
    "QueryService": true,
    "ValidatorHelper": true,
    "Console": true,
    "Sequelize": true,
    "MESSAGE": true,
    "QueryHelper": true
  }
}
